.players {

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.player {

background:#003B8F;

border:3px solid #FFD700;

border-radius:20px;

padding:20px;

text-align:center;

}



.player-photo {

height:160px;

background:#071A3D;

border-radius:15px;

display:flex;

align-items:center;

justify-content:center;

font-size:50px;

margin-bottom:15px;

}



.player h3 {

color:#FFD700;

font-size:25px;

}



@media(max-width:700px){

.players{

grid-template-columns:1fr;

}

}
